extends layout

block content
  .playlist-list
    h1 Tus Playlists
    ul
      each playlist in playlists
        li
          a(href=`/playlists/${playlist.id}`) #{playlist.name}
    a.button(href="/playlists/new") Crear nueva playlist
