extends ../layout

block content
  .soundunion-home
    h1 Bienvenido a SoundUnion, #{user.username}!
    p Explora playlists, descubre canciones y gestiona tu cuenta.
    a.button(href="/playlists") Ver tus playlists
