extends layout

block content
  .user-edit-form
    h1 Editar Usuario
    form(method="POST", action=`/users/${user.id}`)
      label(for="username") Nombre de usuario
      input(type="text", name="username", value=user.username, required)
      
      label(for="email") Correo electrónico
      input(type="email", name="email", value=user.email, required)
      
      button(type="submit") Guardar Cambios
